body {
}



th, td {
    vertical-align: top;
    text-align: left;
    padding: 3px 9px 5px 9px;
}

.linkContainer {
    display: inline-block !important;
}

    .linkContainer > ul {
        position: relative;
        float: left;
        padding: 6px 12px;
    }
